<!DOCTYPE html>
<html ng-app="anguApp">
<body>

  <div class="container-fluid">
  <md-content>
  <md-tabs md-dynamic-height="" md-border-bottom="">

      <!-- NOTIFICATIONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- NOTIFICATIONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- NOTIFICATIONS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <md-tab label="Notifications">
      <div ng-controller="NotificationControl">
      <div ng-if="notificationsLoaded == -1"><h3>{{message}}</h3></div>
      <div ng-if="notificationsLoaded == 0"layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
        <table class="table table-bordered table-hover table-condensed" ng-if="notificationsLoaded == 1">
          <tr>
            <th>Greetings</th>
            <td>There are {{unclaimedUsers.length || '0'}} unclaimed users.</td>
          </tr>
          <tr>
            <td><button class="btn btn-danger" ng-click="DeleteNotifications()">
                  <md-tooltip md-direction="right">Delete All</md-tooltip>
                  <span class="glyphicon glyphicon-trash"</span>
                </button></span>You have {{notifications.length || '0'}} notifications.</td>
            <tr ng-repeat="note in notifications"><td><strong>{{note.createdAt | date:'MM/dd/yyyy@h:mma'}}</strong> <span ng-bind-html="note.body"></span></td></tr>
            </tr>
          </tr>
          <tr>
          </tr>
        </table>
      </div>
    </md-tab>


      <!-- JOBS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- JOBS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- JOBS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <md-tab label="Jobs">
      <div ng-controller="JobControl">
      <div><p>hello here is sc.deleteReason: {{delData.deleteReason}}</p></div>
      <div ng-if="jobsLoaded == -1"><h3>{{message}}</h3></div>
      <div ng-if="jobsLoaded == 0"layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
        <table class="table table-bordered table-hover table-condensed" ng-if="jobsLoaded == 1">
          <tr>
            <th>JOB #</th>
            <th>NAME</th>
            <th>STATUS
              <span class="pull-right glyphicon glyphicon-question-sign">
              <md-tooltip md-direction="top">Postponed? More job information is required, please contact us.</md-tooltip></span>
            </th>
            <th>LOT #</th>
            <th>PLUMBER</th>
            <th>SUBMIT BY</th>
            <th>ACTIONS</th>
          </tr>
          <tr ng-repeat="job in jobs" id={{job._id}}>
            <td><span editable-text="job.jobNumber" e-name="jobNumber" e-form="rowform" e-required>{{job.jobNumber || 'empty'}}</span></td>
            <td><span editable-text="job.name" e-name="name" e-form="rowform" e-required>{{job.name || 'empty' }}</span></td>
            <td>
              <span href="#" editable-select="job.status" e-name="status" e-form="rowform" e-required e-ng-options="stat as stat for stat in statuses">
                {{ShowStatus(job)}}
              </span>
            </td>
            <td><span editable-text="job.lot" e-name="lot" e-form="rowform" e-required>{{job.lot || 'empty' }}</span></td>
            <td><span><a ui-sref="app.detail({_id: job.company._id})">{{job.company.name || 'empty' }}</a>
              <md-tooltip md-direction="bottom">Go to Company</md-tooltip></span></td>
            <td><span><a ui-sref="app.detail({_id: job.submitBy._id})">{{job.submitBy.firstname||'empty'}} {{job.submitBy.lastname||'empty'}}</a>
              <md-tooltip md-direction="bottom">Go to User</md-tooltip></span></td>
            <td style="white-space: nowrap">
            <!-- form -->
              <form editable-form name="rowform" onaftersave="UpdateJob($data, job._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == job">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success">
                  <md-tooltip md-direction="right">Save changes</md-tooltip>
                  <span class="glyphicon glyphicon-floppy-save"</span>
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger">
                  <md-tooltip md-direction="right">Cancel</md-tooltip>
                  <span class="glyphicon glyphicon-remove-sign"</span>
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">
                  <md-tooltip md-direction="right">Quick edit</md-tooltip>
                  <span class="glyphicon glyphicon-pencil"</span>
                </button>
                <button class="btn btn-info">
                  <md-tooltip md-direction="right">Full details</md-tooltip>
                  <span ui-sref="app.detail({_id: job._id})" class="glyphicon glyphicon-zoom-in"</span>
                </button>
                <button class="btn btn-danger" ng-click="PromptDeleteJob(job._id)">
                  <md-tooltip md-direction="right">Delete</md-tooltip>
                  <span class="glyphicon glyphicon-trash"</span>
                </button>
              </div>  
            </td>
          </tr>
        </table>
       
      </div>
    </md-tab>

      <!-- USERS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- USERS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- USERS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <div ng-controller="UserControl">
      <md-tab ng-if='isAdmin' label="Users">
      <div ng-if="usersLoaded == -1"><h3>{{message}}</h3></div>
      <div ng-if="usersLoaded == 0"layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
        <table class="table table-bordered table-hover table-condensed" ng-if="usersLoaded == 1">
          <tr>
            <th>USERNAME</th>
            <th>FULL NAME</th>
            <th>COMPANY</th>
            <th>REGISTERED</th>
            <th>ACTIONS</th>
          </tr>
          <tr class="fluid-container" ng-repeat="user in users" id={{user._id}}>
            <td><span editable-text="user.username" e-name="name" e-form="rowform" e-required>{{ user.username || 'empty' }}</span></td>
            <td>
              <span placeholder="First name" editable-text="user.firstname" e-name="firstname" e-form="rowform" e-required>{{user.firstname || 'empty' }}</span>
              <span placeholder ="Last name" editable-text="user.lastname" e-name="lastname" e-form="rowform" e-required>{{user.lastname || 'empty' }}</span>
            </td>
            <td>
              <span href="#" editable-select="user.company" e-name="company" e-form="rowform" e-required e-ng-options="name._id as name.name for name in companyNames">
                {{ShowNames(user) || 'empty'}}
              </span>
            </td>
            <td>{{user.createdAt | date}}</td>
            <td style="white-space: nowrap">
            <!-- form -->
              <form editable-form name="rowform" onaftersave="SaveUser($data, user._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success">
                  <md-tooltip md-direction="right">Save changes</md-tooltip>
                  <span class="glyphicon glyphicon-floppy-save"</span>
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger">
                  <md-tooltip md-direction="right">Cancel</md-tooltip>
                  <span class="glyphicon glyphicon-remove-sign"</span>
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">
                  <md-tooltip md-direction="right">Quick edit</md-tooltip>
                  <span class="glyphicon glyphicon-pencil"</span>
                </button>
                <button class="btn btn-info">
                  <md-tooltip md-direction="right">Full details</md-tooltip>
                  <span ui-sref="app.detail({_id: user._id})" class="glyphicon glyphicon-zoom-in"</span>
                </button>
                <button class="btn btn-danger" ng-click="DeleteUser(user._id)">
                  <md-tooltip md-direction="right">Delete</md-tooltip>
                  <span class="glyphicon glyphicon-trash"</span>
                </button>
              </div>  
            </td>
          </tr>
      </table>
      </md-tab>
    </div>

      <!-- COMPANIES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- COMPANIES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- COMPANIES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <div ng-controller="CompanyControl">
      <md-tab ng-if='isAdmin' label="Companies">
      <div ng-if="companiesLoaded == -1"><h3>{{message}}</h3></div>
      <div ng-if="companiesLoaded == 0"layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
        <table class="table table-bordered table-hover table-condensed" ng-if="companiesLoaded == 1">
          <tr>
            <th>NAME</th>
            <th>ADDRESS </th>
            <th>CITY</th>
            <th>STATE</th>
            <th>ZIP</th>
            <th>JOBS (OPEN)</th>
            <th>EMPLOYEES</th>
            <th>ACTIONS
              <span class="pull-right glyphicon glyphicon-plus-sign" ng-click='createNewCompany()' ng-if='isAdmin'>
              <md-tooltip md-direction="top">Add new company</md-tooltip>
              </span>
            </th>
          </tr>
          <tr class="fluid-container" ng-repeat="company in companies">
            <td><span editable-text="company.name" e-name="name" e-form="rowform" e-required>{{ company.name || 'empty' }}</span></td>
            
            <td>
              <span editable-text="company.address1" e-name="address1" e-form="rowform" e-required>{{ company.address1 || 'empty' }}</span></br>
              <span editable-text="company.address2" e-name="address2" e-form="rowform" e-required e-placeholder="Address line 2">{{company.address2}}</span>
            </td>
            
            <td><span editable-text="company.city" e-name="city" e-form="rowform" e-required>{{ company.city || 'empty' }}</span></td>
            <td><span editable-text="company.state" e-name="state" e-form="rowform" e-required>{{ company.state || 'empty' }}</span></td>
            <td><span editable-text="company.zip" e-name="zip" e-form="rowform" e-required>{{ company.zip || 'empty' }}</span></td>
            <td>{{company.jobs.length || '0'}} ({{GetOpenJobsCount(company)}})</td>
            <td>*TODO*</td>
            <td style="white-space: nowrap">
            <!-- form -->
              <form editable-form name="rowform" onaftersave="UpdateCompany($data, company._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == company">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success">
                  <md-tooltip md-direction="right">Save changes</md-tooltip>
                  <span class="glyphicon glyphicon-floppy-save"</span>
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger">
                  <md-tooltip md-direction="right">Cancel</md-tooltip>
                  <span class="glyphicon glyphicon-remove-sign"</span>
                </button>
            </form>
            <!-- form -->
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">
                  <md-tooltip md-direction="right">Quick edit</md-tooltip>
                  <span class="glyphicon glyphicon-pencil"</span>
                </button>
                <button class="btn btn-info">
                  <md-tooltip md-direction="right">Full details</md-tooltip>
                  <span ui-sref="app.detail({_id: company._id})" class="glyphicon glyphicon-zoom-in"</span>
                </button>
                <button class="btn btn-danger" ng-click="PromptDeleteCompany(company._id)">
                  <md-tooltip md-direction="right">Delete</md-tooltip>
                  <span class="glyphicon glyphicon-trash"</span>
                </button>
              </div>  
            </td>
          </tr>
      </table>
      </md-tab>
      </div>
    </md-tabs>
  </md-content>

</body>
</html>