<!DOCTYPE html>
<html lang="en" ng-app="anguApp">
<div ng-controller="DetailControl">



<label>Provide an ID for a Job/User/Company:</label>
<input type="text" ng-model="detailId" value="Job"> {{detailId}} <button ng-click="LogDetails(detailId)">Log it!</button></br></br></br>





<div ng-switch on="type">
    <div ng-switch-when="User">
        User ID = {{details._id}}
        </br>Email = {{details.username}}
        </br>Name = {{details.firstname}} {{details.lastname}}
        </br>Registered = {{details.createdAt | date}}
        </br>TODO: List of jobs, comments, etc
     </div>
          
    <div ng-switch-when="Job">
        Job ID = {{details._id}}
        </br>Job # = {{details.jobNumber}}
        </br>Name = {{details.name}}
        </br>Plumber = {{details.company.name}}
        </br>TODO: Comments, date, status, etc.

    </div>     

    <div ng-switch-when="Company">
        Company Id = {{details._id}}
        </br>Name = {{details.name}}
        </br>TODO: Rest of company detail, list of employees, etc.
    </div>

     <div ng-switch-when="Failed">
     	No match found :(
        </br>(You've arrived at this page in error probably)
     </div>

</div>




</div>
</body>
</html>